form {
    width: 200px;
    margin: 20px auto;
   
}

input {
    width: 90%;
    padding: 10px;
    border: 5px solid rgb(15, 11, 245);
    border-radius: 8px;
    
}

body {
    background-color: rgb(243, 10, 80);
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin:  auto;
    background-color: rgb(240, 211, 51);
    border: 6px solid rgb(10, 6, 245);
}

.poke-card::before {
    content: '';
    background: radial-gradient (rgba(88, 92, 158, 0.993) 33%, transparent 33%)
    
    /* (rgb (1252, 229, 58) 33%, transparent 33%); */
    background-size: 4px 3px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border: 5px solid rgb(15, 11, 245);
    background-color: rgb(22, 18, 235);
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}